<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Yotguru</title>
</head>
<body>
  <% if (user) { %>
    <a href="/vessels"> Vessels </a>
    |
    <a href="account/show" > Account </a>
    |
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <h1 bold align="center"> Welcome to Yotguru </h1>
    <br>
    <br>
    <h3 align="center"> Please login in order to proceed </h3>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="../../public/images/yot-welcome.jpeg"></a>
  <% } %>
  <nav>
      <h1><%= title %></h1>
  <main>
