body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(52, 64, 114);
}

a {
  color: #00B7FF;
}

.welcome {
  background-image: url("file:///Users/enrico/Documents/General%20Assembly/deliverables/yotguru-R1/public/images/yot-welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login img {
  height: 120px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

input:read-only,
textarea:read-only {
    background-color: rgb(230, 230, 230);
}


table,th,td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  padding: 10px
}