body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(13, 19, 43);
  background-image: url("/images/background-sea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}

a {
  color: #e3e1e9;
}

.navigation {
  display: inline-flex;
  background-color: rgb(49, 49, 74);
  margin-bottom: 3%;
  padding: 10px;
  width: 100%;
}
.navigation div {
    margin: 0px 20px;
}

.welcome {
  background-image: url("/images/princess f50.png");
  background-repeat: no-repeat;
  background-size: cover;
} 
.login {
  display: flex;
  color:rgb(13, 19, 43);
  justify-content: center;
  align-items: center;
  height: 34px;
}


.login img {
  height: 30px;
  width:  30px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

input:read-only,
textarea:read-only {
    background-color: rgb(230, 230, 230);
}


table,th,td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  padding: 10px
}