body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

table,th,td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  padding: 10px
}