body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(52, 64, 114);
  background-image: url("../images/yot-welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

